.card{
    position: relative;
    left:25px;
    width: 250px;
    top:30px;
    
}
.right-card{
    position: relative;
    left:380px;
    top:-200px;
    width: 200px;
}
table {
    width: 100%;
  }
.cancel{
    position: relative;
    left: 20px;
}