<button class="add" *ngIf="authService.isAuthenticated" mat-raised-button color="primary" (click)=download()>Import</button>

<div>
    <table mat-table [dataSource]="records" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="R.No">
      <th mat-header-cell *matHeaderCellDef> R.No </th>
      <td mat-cell *matCellDef="let element"> {{element.rno}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>
    <ng-container matColumnDef="Dept">
        <th mat-header-cell *matHeaderCellDef> Dept </th>
        <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
      </ng-container>
    <ng-container matColumnDef="Year">
        <th mat-header-cell *matHeaderCellDef> Year </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"><button mat-icon-button [routerLink]="['/update',element._id]">
            <mat-icon>edit</mat-icon>
          </button><button mat-icon-button  (click)="delete(element); " matTooltip="Delete" onClick="window.location.reload();">
            <mat-icon>delete</mat-icon>
          </button> </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
